
<!-- /*********************** index table *********************************************/ -->
<table class="table table-striped table-hover" ng-hide="vm.selected">
	<thead class="thead-inverse">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Price</th>
			<th>Taste</th>
		
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="s in vm.scotches" ng-click="vm.showSingle(s.id)">
			<td>{{s.name}}</td>
			<td>{{s.type}}</td>
			<td>{{s.price}}</td>
			<td>{{s.taste}}</td>
		</tr>
	</tbody>
</table>

<!-- /*********************** Detailed View *********************************************/ -->
<div class="container" ng-show="vm.selected">
    <h2 class="display-2 text-justify">{{vm.selected.name}}</h2>
    <p><strong>Type </strong><span class="lead">{{vm.selected.type}}</span></p>
    <p><strong>Price </strong><span class="lead">${{vm.selected.price}}</span></p>
    <p><strong>Taste </strong><span class="lead">{{vm.selected.taste}}/10</span></p>
    <p><strong>Age </strong><span class="lead">{{vm.selected.age}} years</span></p>
    <p><strong>Purchased at </strong><span class="lead">{{vm.selected.purchasePlace}}</span></p>
    <p><strong>Notes </strong><span class="lead">{{vm.selected.notes}}</span></p>


<button class="btn btn-danger" ng-click="vm.remove(vm.selected.id)">Delete</button>
<button class="btn btn-primary" ng-click="vm.selected = null">Back</button>
</div>



<!-- **************** only show while waiting for server response *************************** -->
    <div id="loading" ng-show="vm.loading > 0">
            <p class="display-3 text-center lead">Loading</p>
            <img class="img-fluid mx-auto d-block" src="./img/catLoader.gif">
    </div>